@import "../../styles/variables";
@import "../../styles/font";
@import "../../styles/mixins";

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
    @include transition(all 0.5s);
    animation: opacityOn 0.5s none;
}

.active{
    @include flexbox();
    @include justify-content(center);
    opacity: 1;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.container{
    max-width: 600px;
    width: 100%;
    max-height: 100%;
    margin: 10vH auto auto;
    background-color: $color-white;
    border-radius: $space-base;
    padding: $space-6;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $color-white;
    z-index: 0;
    animation: opacityOn 0.5s none;

    @include bp-mobile {
        margin: auto $space-6;
    }
}

@keyframes opacityOn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.head{
    width: 100%;
    margin-bottom: $space-6;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);

    h2{
        color: $color-secondary;
        margin-bottom: 0;
    }
}

.closeButton{
    width: 24px;
    height: 24px;
    background-color: $color-grey;
    border-radius: 50%;
    padding: 0;
}