$mobile-break-size: 767px;
$desktop-break-size: $mobile-break-size + 1;
$main-container-width: 1024px;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-huge: 36px;

$line-height-s: 22px;
$line-height-m: 24px;
$line-height-l: 26px;
$line-height-xl: 28px;
$line-height-xxl: 30px;
$line-height-huge: 48px;

$color-primary: #1a1d29;
$color-secondary: #2972d2;
$color-third: #42475a;
$color-grey: #838383;
$color-white: #fff;
$color-black: #000;
$color-red: #d10000;
$color-red-light: #ffecec;
$color-blue: #225fb9;
$color-blue-light: #d7edff;
$color-green: #48914e;
$color-green-light: #d4f1d6;

$space-1: 4px;
$space-2: 6px;
$space-3: 8px;
$space-base: 12px;
$space-5: 18px;
$space-6: 24px;
$space-7: 36px;
$space-8: 48px;
$space-9: 60px;
$space-10: 72px;